<div>
    <div id="techTitle">
        <p>Select the technologies you are looking for in my projects</p>
        <div class="techType">
            <button>Programming Languages</button>
            <button>Web Development</button>
            {{!-- <div style="display: none;"><button>Engineering</button></div> --}}
    </div>
    </div>
    <div class="techList">
        <div class="programmingLanguages" style="display:none;">
            {{#each tech_list}}
                {{#TechType 'programmingLanguages' this}}
                    <div class="eachTech">
                        <img src={{this.img_small}} alt={{this.tech_name}} class="techImg"/>
                    </div>
                {{/TechType}}
            {{/each}}
        </div>
        <div class="webDevelopment">
            {{#each tech_list}}
                {{#TechType 'webDevelopment' this}}
                    <div class="eachTech">
                        <img src={{this.img_small}} alt={{this.tech_name}} class="techImg"/>
                    </div>
                {{/TechType}}
            {{/each}}
        </div>
    </div>
    <div  class="projects_parent">
        <div class="projects">
            {{#each project_list}}
            <div class="project">
                <h1>{{this.project_name}}</h1>
                <p>{{this.technologies}}</p>
                <div>
                    <a href={{this.github_link}}>Hosted Site</a>
                    <a href={{this.hosted_link}}>Github Site</a>
                </div>
            </div>
            {{/each}}
        </div>
        <div id="slideButtons">
        </div>
    </div>
</div>